body {
    background:#222;
    font-family: 'Lato', sans-serif;
    color:#eee;
}

a {
    text-decoration:none;
    color:#eee;
}

#content {
    background:#000;
}

div.show {
    width:100%;
    border-top:1px solid rgba(255, 255, 255, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

#content h2 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:30px;
    overflow:hidden;
    color:#eee;
}

.button {
    padding-right:10px;
    text-transform:uppercase;
}

.small {
    font-size:13px;
}

.inset {
}

.round {
    font-size:small;
    padding:4px;
    border-radius:3px;
}

.dark {
}

.float-right {
    float:right;
}

.center {
    text-align:center;
}

.quiet {
    opacity:0.7;
}

.venue-peek {
    margin-right:10px;
}
