div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background:#222;
    font-family: 'Helvetica Neue', sans-serif;
    color:#eee;
}

a {
    text-decoration:none;
    color:#eee;
}

#content {
    background:#000;
}

div.show {
    width:320px;
    position:relative;
    height:80px;
}

#content h2 {
    overflow:hidden;
    white-space:nowrap;
    color:#eee;
    font-weight:900;
}

#content h3 {
    font-weight:700;
    padding-top:5px;
    line-height:30px;
}

.align-right {
    text-align:right;
}

.button {
    padding-right:10px;
    text-transform:uppercase;
}

.small {
    font-size:small;
}

.inset {
}

.round {
    font-size:small;
    padding:4px;
    border-radius:3px;
}

.dark {
    background:rgba(0, 0, 0, 0.3);
    color:#eee;
}

.float-right {
    float:right;
}

.center {
    text-align:center;
}

.quiet {
    opacity:0.7;
}

.venue-peek {
    margin-right:10px;
}

.left-gutter {
    width:40px;
    position:absolute;
    top:0;
    left:0;
}

.right-content {
    width:280px;
    position:absolute;
    top:0;
    right:0;
}
