body {
    background:#222;
    font-family: 'Lato', sans-serif;
    color:#ccc;
}

a {
    text-decoration:none;
    color:#eee;
}

#content {
    background:#000;
}

div.show {
    width:100%;
    padding-bottom:10px;
}

#content h2 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:30px;
    overflow:hidden;
    color:#eee;
}

.button {
    padding:5px;
    text-transform:uppercase;
}

.small {
    font-size:13px;
}
